<% provide(:title, "Home") %>
<% cache do %>
<header>
    <section class="">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <img class="img-fluid" src="https://cdn.sotercares.com/images/soter-background-reduced.jpg">
    </section>
</header>
    <br>
    <!-- Page Content -->
    <div class="container info-box">
      <div class="row" style="height: auto">
        <div class="col-lg-6">
          <h1 style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Soter Mission</h1>
          <p style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
            To be an unbiased resource to assist you and families like yours in locating the best Senior Living Options for your loved ones according to their level of care, location, and budget.
          </p>
        </div>
        <div class="col-lg-6" style="text-align: center">
          <div style="height: 30px"></div>
          <% if Rails.env.development? %>
            <%= link_to "Start your Search", start_journies_path, class: "btn btn-danger btn-block" %>
          <% else %>
            <h3>Call Us: <%= link_to "321.419.0041", "tel:3214190041" %></h3>
            <h3>Email Us: <%= link_to "info@sotercares.com", "mailto:info@sotercares.com" %></h3>
          <% end %>
        </div>
      </div>
    </div>
      
    <br>
    
    <div class="container info-box">
        <div class="row">
          <div class="col-lg-6 mb-6">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/woman-on-balcony.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Making the Right Choice</h4>
              <div class="card-body">
                <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                  When it comes to an aging loved one, we understand your concerns, and have spent years developing a resource to help.  Your loved one’s care needs professional and unbiased expertise to help you make “The Right Choice”.  To eliminate the guesswork we have personally researched, evaluated, and interviewed clients, caregivers, community professionals, and their management to ensure that we provide you the needed information on the BEST care homes your local community has to offer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <section class="parallax" style='background-image: url("https://cdn.sotercares.com/images/soter-workshop.jpg");'>
      <div style="background-color: rgba(0,0,0,0.5); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
          <blockquote class="blockquote" style="color: white;">
            <p class="mb-0" style="padding-top: 15px">
              <em>"I only wish there were more than five stars I could award Geri 
              because she is a truly gifted family advocate."</em>
            </p>
            <footer class="blockquote-footer" style="color: white; text-align: right">Susan - <cite title="Source Title">Melbourne, FL</cite></footer>
          </blockquote>
        </div>
      </div>
    </section>
    <br>
    
    <div class="container info-box">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/IMG_1606.jpg" alt="">
          </div>
          <div class="col-lg-8 mb-8">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Getting it Right the First Time</h4>
              <div class="card-body">
                <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                  At Soter we understand that caring for relatives can be rewarding but also stressful, time consuming and emotionally exhausting.  It is difficult for families to juggle work, children and other obligations and still find time to properly care for an aging parent as well as themselves.  This website is designed to help you do the research you need, get the support you need, and get you back to being a son, daughter, or friend again.
                  <br><br>
                  <strong>OUR PROCESS:</strong>
                  <ol style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                    <li>Go through the initial search online.</li>
                    <li>Your Family Advocate will travel to you for a Care Consultation. They will simply meet with you regarding the initial survey, assessing your personal, financial, and clinical needs. This also helps us determine the timing of your need… Is this an emergency or are you a family being proactive with your research?</li>
                    <li>The results of the Care Consultation are then compared with local healthcare solutions or facilities that have an excellent record and meet our high standards.</li>
                    <li>Your Family Advocate will then reach out and discuss our findings with you and answer any questions you have.  We will then call to set up any appointments and accompany you on personalized tours of the various care options until a solution is found… At whatever your pace.  We are simply here to advocate for you, your family, and be on your side.</li>
                  </ol>
                  <div style="text-align: center">
                    <strong>THIS SERVICE IS AVAILABLE TO YOU AT NO COST</strong>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      <br>
    <br>
        <div class="row">
          <div class="col-lg-8 mb-8">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Is it Time to Look for Senior Housing?</h4>
              <div class="card-body"  style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                <p class="card-text">
                  Most people don’t want to move from their home into Assisted Living. However, in some cases it is the best option to keep elderly or aging parents safe and healthy. There are many signs to watch for to determine if it’s time for a loved one to move.
                </p>
              
                <ul class="card-text">
                  <li>Unable to keep up with maintaining the house</li>
                  <li>Driving Skills have gotten worse</li>
                  <li>Loss of balance, movement, coordination</li>
                  <li>Falls, possibly trying to cover up bruises.</li>
                  <li>Increased medication mistakes</li>
                  <li>Stacks of papers and unpaid bills lying around</li>
                  <li>Memory problems / Becoming forgetful / Repeating themselves</li>
                  <li>Personal hygiene is becoming an issue</li>
                  <li>Signs of depression</li>
                </ul>

                <p class="card-text">
 
                  <strong>NETWORK OF PROFESSIONALS:</strong>
                  <br>
                  Soter regularly communicates and networks with a complete team of professionals that we can refer you and your family to. This can make many of the challenges families face a little easier. From Home Health Care to Elder Law Attorneys, Professional Guardians to Handymen, we can refer you to the right people at the right time!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/MomRVResidentPhoto1.jpg" alt="">
          </div>
        </div>
      <br>
    <br>
        <div class="row">
          <div class="col-lg-6 mb-6">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/troy-radio.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Who We Are</h4>
              <div class="card-body"  style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                <p class="card-text">
                    The Team at Soter Senior Living and Family Advocates includes people of different backgrounds within the Healthcare industry combining over 80 years of experience.  This was done with purpose and intent as it is our belief that this combined expertise provides the very best solutions for seniors and their families no matter the situation.
                   <br><br>
                    Soter Senior Living and Family Advocates provides four types of services:
                      <ul>
                        <li>In-Home Senior Care advice and local community providers</li>
                        <li>Unbiased Senior Living information and tour assistance locally or out of area</li>
                        <li>Home monitoring and Medication reminder services</li>
                        <li>Financial care coordination (Long Term Care Insurance, Veteran’s Pension Benefits, & Bridge Loan providers)</li>
                      </ul>
                  <div style="text-align: center">
                    <strong>WE ARE THERE EVERY STEP OF THE WAY!</strong>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
          <br>
      <section class="parallax" style='background-image: url("https://cdn.sotercares.com/images/Victoria+Landing+515+0830.JPG");'>
        <div class="container">
          <div style="text-align: center; padding-top: 90px">
            <h2 style="color: white; text-shadow: 2px 2px #000000">World Class Communities</h2>
            <% if Rails.env.development? %>
              <%= link_to "Start your Search", start_journies_path, class: "btn btn-danger btn-lg" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    
    <br>
    
      <div class="container info-box">
        <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Testimonials</h2>

        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>When my eighty-six year old mother needed a safe and caring place to live, Geri Woods, CDP with Soter, stepped in and facilitated a seamless transition from home to Brookdale Senior Living.  Geri displayed a highly skilled and compassionate approach to helping my mom see the many benefits such a community had to offer.  As a certified dementia practitioner, Geri was able to proficiently guide my mother to a facility which would best meet her needs. 
              On the day of admission, Geri coordinated a multidisciplinary team meeting with the staff at Brookdale. Geri, my mom, and myself all attended and  my mom was able to participate in the  decision making process regarding her care. Not only was Geri able to accomplish the transition from home to Brookdale in only two days, she continues to be supportive to my mom and me throughout our adjustment to this new way of life. She ensures that my mom continues to "have her voice"  and is always available to discuss with her any concerns she may have. 
              I highly recommend Geri Woods, CDP. She is intelligent, compassionate, and creative in her approach to problem solving. I only wish there were more than five stars I could award Geri because she is a truly gifted family advocate.</em> </p>
            <h4 style="text-align: right"> - Susan</h4>
            <h6 style="text-align: right">Melbourne, FL</h6>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>On July 31st, I was told that my father could no longer live at the Assisted Living community where he had been a resident since January of this year. The community was just too large for my father and his dementia was progressing.  I reached out to Soter on advice from a member of the Department of Children and Families and they came to my father’s rescue.  In just a few days the team at Soter found a loving, warm, smaller community for my father. A senior living facility that is actually more of a family focused environment where my dad can get the attention he needs but also contribute. 
              The team at Soter assisted with all the logistics of getting my father moved.  They supported me with all of my concerns at a distance as I am in Virginia and my dad is in Florida.  They guided me through the process of requesting Long term Medicaid and more over they physically moved my fathers’ belongings from his previous community to his new home.
              Soter is the most professional organization I have worked with over the last few years. They are not only professional, but they are very caring of the entire family.  Not only are they focused and responsive, but they have expertise in the field of dementia.  Geri and Troy are outstanding people, and I really can’t say enough about their assistance.
              I highly recommend the company.</em> </p>
            <h4 style="text-align: right"> - Jody</h4>
            <h6 style="text-align: right">Richmond, VA</h6>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>Just a quick message to thank you, Troy, for your help and encouragement.
                When my mother needed to enter an Assisted Living Facility from Rehab, I didn’t know
                what to do.  You were recommended by a reliable source and I’m so glad I called.
                The help and encouragement you gave me were invaluable.  I received knowledge
                on how to navigate through a journey of tough decisions and confusing paper work.
                Always caring, always supportive, the care and guidance you gave were such a blessing
                to me!  You were there when I needed help.  Thank you!  </em> </p>
            <h4 style="text-align: right"> - Diane</h4>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>The Health First Aging Institute recommended we contact Troy Denault for assistance with finding the Assisted Living Home for my Mom after realizing we could no longer care for her in the home. This has turned out to be one of the most important referrals we have received and the most positive experience in such a difficult time in all of our lives including our Mom's.
              Troy was professional, compassionate and listened to our needs and desires for our Mom and proceeded to take us on tours of facilities till we found the one we thought would be best for our Mom.
              He is responsive and we honestly could not have done this without him. He is unbiased as he operates on a flat fee from whatever facility you choose and not a percentage which works out to be no cost to you. He is in your corner and just wants what fits for you and your loved one. 
              Our family recommends him without reservation and you can trust him as he guides you thru this process.</em> </p>
            <h4 style="text-align: right"> - The Chapman Family</h4>
        </div>
      </div>
    <hr>
    
    <br>
    
      <div class="container info-box">
        <!-- Portfolio Section -->
        <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Meet Our Team</h2>
        <br>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/troy-headshot.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Troy Denault<h3>
              <h6>Sparta, IL</h6>
              <h6>President / CEO</h6>
              <h6>Certified Dementia Practitioner</h6>
              <p>Troy is the President and Founder of <strong>Soter Senior Living and Family Advocates</strong>. He’s an experienced leader with demonstrated results working with families needing help across the Health Care Continuum. He’s a dual degree graduate from the University of Florida having earned his Bachelor of Science in Industrial-Organizational Psychology and a Bachelor of Arts degree in Business Administration.  During college Troy joined the United States Marine Corp and graduated Officer’s Candidate School in August 1995. Understanding what the WWII, Korea, and Vietnam Veterans have done for our country, partnered with the mindset that “No man is left behind”, inspired him to do more to support aging Veterans and their families.  In 2010 he became the President of the Brevard Association of Human Services (BAHS).  He reignited BAHS and it became one of the largest networking organizations for Healthcare professionals in Brevard.  2 years later he took a position as the Business Development Director for Brookdale Senior Living in Brevard County and was elected the President of the Brevard Assisted Living Association.  After successfully growing both entities over the next few years he decided to start his own Senior Living and Family Advocacy organization, <strong>Soter Senior Living and Family Advocates</strong>.  His simple mission was, “To be an unbiased resource, to be on the family’s side, to educate and advocate for families needing solutions to the issues that accompany aging.”  With his years of specialized experience in Senior living and Elder Benefits, Troy is one of Florida’s top Senior Living Resources educators.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Denise-LeBlanc-Argue.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Denise Argue<h3>
              <h6>Gardner, MA</h6>
              <h6>Family Advocate</h6>
              <h6>CORE Trained</h6>
              <p>Denise earned her Bachelor of Arts degree with a double major in Psychology and Sociology in 1984 from the University of New Brunswick, Canada.  She brings with her over 30 years of experience working with seniors in Home Healthcare, Assisted Living, and Skilled Nursing Facility / Rehabilitation Centers. Denise spent over half of her career working as a Social Worker / Care Manager in Brevard County, Florida.  She has also worked in Community Relations and as an Administrator of a Medicare Home Health Agency.  In July of 2017 she joined the team at Soter and furthered her education by becoming a CORE Trained Assisted Living Facility Administrator.  With all of her “hands on” experiences and training, Denise is very excited to be aiding seniors and their families with making the right decision the first time.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/david-toliver-reduced.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Charles "David" Toliver<h3>
              <h6>Fort Wayne, IN</h6>
              <h6>Family Advocate</h6>
              <h6>Certified Dementia Practitioner</h6>
              <p>In 2002, David earned his Certified Nursing Assistant license in Columbia City, Indiana. Shortly after, he and his family moved to the Space Coast of Florida where he started working at Harbor Chase Assisted Living in Vero Beach.  At Harbor Chase he continued his education and acquired his Medication Technician Certification in 2004.  David was then asked to join the marketing team as their Move-in Coordinator to help families navigate the many components of transitioning into an Assisted Living community.  This opportunity inspired David and eventually let him to become their Director of Sales.  His family then decided to start a residential assisted living facility in the Melbourne, Florida area by the name of SALUS. David assisted his family with their new assisted living project helping with the renovation and licensing processes while keeping his position with Harbor Chase.  David joined the Soter Team in 2016 and acquired his Certified Dementia Practitioner Certification in November.  David brings more than 15 years of experience in assisting families in senior living and feels “blessed" to have an opportunity to put his years of knowledge to work helping families understand all of the options available to them when a need arises. </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/geri-headshot-2.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Geri Woods<h3>
              <h6>Pittsburgh, PA</h6>
              <h6>Family Advocate</h6>
              <h6>Certified Dementia Practitioner</h6>
              <p>Geri has worked in the senior living industry of Brevard County, FL for more than 11 years. Her experience helping seniors and their families started as a receptionist at Hibiscus Court Assisted Living in 2005. She instantly fell in love with her families and their amazing stories. Her compassion and “can do” attitude to help support them led her to multiple promotions and experiences across a variety of different roles within the Assisted Living Industry. She has been an Activities Director, an Admissions Director, and ultimately a Director of Marketing position with Grand Villa of Melbourne.  Once their Memory Care Community opened she found her heart consistently gravitating towards residents and their families battling Memory Care issues. This inspired her to become a Certified Dementia Practitioner in 2015.  In February, 2017 Geri joined our family here at Soter and will use her various experiences to educate, empower, and support families trying to make appropriate care decisions for their loved one(s).</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/dawn.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Dawn Murphy Redstone<h3>
                <h6>Champaign, IL</h6>
                <h6>Family Advocate</h6>
              <p>Dawn attended the University of South Florida and brings with her over ten years of law enforcement experience across Georgia and Florida.  Dawn served both in road patrol and as a detective specializing in crimes against persons both young and old.  She began her healthcare career working in psychiatry as a Marketing Director in two local hospitals and went on to provide consultative services nationally to a number of small medical hospitals.  She spent seven years as a Patient Relations and HIPPA compliance Director for a local hospital system.  Her passion for helping seniors and their families more closely called her to change from a more corporate role to spending the next six years working in Assisted Living, Memory Care, and Skilled Nursing Facility sales and marketing.  Upon learning about Soter Senior Living & Family Advocates and how we uniquely provide support to families in an unbiased manner she felt that this is where she belongs and gives her the best opportunity to utilize all of her experiences to “make a real difference.”  She is dedicated and passionate about helping seniors and their families find the right resources, care options, or community to call their forever home.</p>
          </div>
        </div>
      </div>
    <hr>
    <div class="container info-box">
        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <h6 style="margin-top: 15px"><strong>Use our powerful search engine to find a community that fits your needs and budget!</strong></h6>
            </div>
            <div class="col-md-4">
              <% if Rails.env.development? %>
                <%= link_to "Start your Search", start_journies_path, class: "btn btn-lg btn-primary btn-block" %>
              <% else %>
              <%= link_to "Coming Soon", "#", class: "btn btn-lg btn-primary btn-block" %>
              <% end %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
              <br>
                <p><em>Soter provides services to all persons without regard to race, color, religion, sex, national origin, handicap, or age.</em></p>
            </div>
        </div>
      </div>
    </div>
    <br>
<% end %>
