<% provide(:title, "Home") %>

  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <div class="jumbotron bg" id="search">
    <div class="row" style="padding-top: 30px">
      <div class="text-center">
        <h1 style="color: white;text-shadow: 2px 2px black;">Find your Home</h1>
        <%= form_tag(community_search_index_path) do %>
          <div class="col-md-4 col-md-offset-4">
            <div class="input-group" style="margin: 10px">
              <%= text_field_tag :city, nil, { placeholder: "Search #{@city} or enter city", class: 'main-input-box form-control text-center', id: 'city' } %>
              <div class="input-group-btn">
                <%= button_tag type: 'submit', class: "btn btn-primary", style: 'margin-top: 10px; font-size: 20px' do %>
                  <%= fa_icon('search') %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <br>
    <!-- Page Content -->
    <br>
    <div class="container info-box">
        <div class="row">
          <div class="col-lg-6 mb-6">
            <script src="https://fast.wistia.com/embed/medias/dh7wxgkncg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_dh7wxgkncg popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Making the Right Choice</h4>
              <div class="card-body">
                <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                  When it comes to an aging loved one, we understand your concerns, and have spent years developing a resource to help.  Your loved one’s care needs professional and unbiased expertise to help you make “The Right Choice”.  To eliminate the guesswork we have personally researched, evaluated, and interviewed clients, caregivers, community professionals, and their management to ensure that we provide you the needed information on the BEST care homes your local community has to offer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

    <section class="parallax" style='background-image: url("https://cdn.sotercares.com/images/soter-workshop.jpg");'>
      <div style="background-color: rgba(0,0,0,0.5); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
          <blockquote class="blockquote" style="color: white;">
            <p class="mb-0" style="padding-top: 15px; color: white;">
              <em>"I only wish there were more than five stars I could award Geri 
              because she is a truly gifted family advocate."</em>
            </p>
            <footer class="blockquote-footer" style="color: white; text-align: right">Susan<br><cite title="Source Title">Melbourne, FL</cite></footer>
          </blockquote>
        </div>
      </div>
    </section>
    <br>
    
    <div class="container info-box">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <img class="img-fluid rounded hidden-sm hidden-xs" src="https://cdn.sotercares.com/images/IMG_1606.jpg" alt="">
          </div>
          <div class="col-lg-8 mb-8">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Getting it Right the First Time</h4>
              <div class="card-body">
                <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                  At Soter we understand that caring for relatives can be rewarding but also stressful, time consuming and emotionally exhausting.  It is difficult for families to juggle work, children and other obligations and still find time to properly care for an aging parent as well as themselves.  This website is designed to help you do the research you need, get the support you need, and get you back to being a son, daughter, or friend again.
                  <br><br>
                  <strong>OUR PROCESS:</strong>
                  <ol style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                    <li>Go through the initial search online.</li>
                    <li>Your Family Advocate will travel to you for a Care Consultation. They will simply meet with you regarding the initial survey, assessing your personal, financial, and clinical needs. This also helps us determine the timing of your need… Is this an emergency or are you a family being proactive with your research?</li>
                    <li>The results of the Care Consultation are then compared with local healthcare solutions or facilities that have an excellent record and meet our high standards.</li>
                    <li>Your Family Advocate will then reach out and discuss our findings with you and answer any questions you have.  We will then call to set up any appointments and accompany you on personalized tours of the various care options until a solution is found… At whatever your pace.  We are simply here to advocate for you, your family, and be on your side.</li>
                  </ol>
                  <div style="text-align: center">
                    <strong>THIS SERVICE IS AVAILABLE TO YOU AT NO COST</strong>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      <br>
    <br>
        <div class="row">
          <div class="col-lg-6 mb-8">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Is it Time to Look for Senior Housing?</h4>
              <div class="card-body"  style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                <p class="card-text">
                  Most people don’t want to move from their home into Assisted Living. However, in some cases it is the best option to keep elderly or aging parents safe and healthy. There are many signs to watch for to determine if it’s time for a loved one to move.
                </p>
              
                <ul class="card-text">
                  <li>Unable to keep up with maintaining the house</li>
                  <li>Driving Skills have gotten worse</li>
                  <li>Loss of balance, movement, coordination</li>
                  <li>Falls, possibly trying to cover up bruises.</li>
                  <li>Increased medication mistakes</li>
                  <li>Stacks of papers and unpaid bills lying around</li>
                  <li>Memory problems / Becoming forgetful / Repeating themselves</li>
                  <li>Personal hygiene is becoming an issue</li>
                  <li>Signs of depression</li>
                </ul>

                <p class="card-text">
 
                  <strong>NETWORK OF PROFESSIONALS:</strong>
                  <br>
                  Soter regularly communicates and networks with a complete team of professionals that we can refer you and your family to. This can make many of the challenges families face a little easier. From Home Health Care to Elder Law Attorneys, Professional Guardians to Handymen, we can refer you to the right people at the right time!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <img class="img-fluid rounded hidden-sm hidden-xs" src="https://cdn.sotercares.com/images/IMG_2618_2a.jpg" alt="">
          </div>
        </div>
      <br>
      <br>
        <div class="row">
          <div class="col-lg-6 mb-6">
            <br>
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Team-2.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Who We Are</h4>
              <div class="card-body"  style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                <p class="card-text">
                    The Team at Soter Senior Living and Family Advocates includes people of different backgrounds within the Healthcare industry combining over 80 years of experience.  This was done with purpose and intent as it is our belief that this combined expertise provides the very best solutions for seniors and their families no matter the situation.
                   <br><br>
                    Soter Senior Living and Family Advocates provides four types of services:
                      <ul>
                        <li>In-Home Senior Care advice and local community providers</li>
                        <li>Unbiased Senior Living information and tour assistance locally or out of area</li>
                        <li>Home monitoring and Medication reminder services</li>
                        <li>Financial care coordination (Long Term Care Insurance, Veteran’s Pension Benefits, & Bridge Loan providers)</li>
                      </ul>
                  <div style="text-align: center">
                    <strong>WE ARE THERE EVERY STEP OF THE WAY!</strong>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
          <br>
      <section class="parallax" style='background-image: url("https://cdn.sotercares.com/images/Victoria+Landing+515+0830.JPG");'>
        <div class="container">
          <div style="text-align: center; padding-top: 90px">
            <h2 style="color: white; text-shadow: 2px 2px #000000">World Class Communities</h2>
            <%= link_to "Start your Search", '#search', class: "btn btn-danger btn-lg" %>
          </div>
        </div>
      </div>
    </section>
    
    <br>

    <hr>
    <div class="container info-box">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h3>Contact Us:</h3>
              <br>
              Office:  321-419-0041<br>
              Toll Free:  888-976-8371<br>
              Fax:  321-312-3751<br>
              2191 Julian Avenue NE. Suite 3, Palm Bay, FL 32905<br>
            </div>
        </div>
      </div>
    </div>
    <br>

<script>
    $("#city").autocomplete({
        source: "/cities/autocomplete_name",
        minLength: 3,
        select: function(event, ui) {
            event.preventDefault();
            $("#city").val(ui.item.label);
        },
        focus: function(event, ui) {
            event.preventDefault();
            $("#city").val(ui.item.label);
        }
    });
</script>