<% provide(:title, 'Change Password') %>
<h3 style='text-align: center'>Change Password</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: user_update_password_path(@user)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :password %>
      <%=  f.password_field :password, class: 'form-control', autocomplete: 'off' %>
      
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%=  f.password_field :password_confirmation, class: 'form-control', 
                                                      autocomplete: 'off' %>
      
      <%= f.submit "Update Password", class: "btn btn-primary submit-btn" %>
    <% end %>
  </div>
</div>
<div class="row" style="padding: 10px;">
  <div class="col-md-6 col-md-offset-3" style="background-color: #e6e6e6; border-radius: 10px;">
    <p style="font-size: 14px;"><strong>Password requirements:</strong></p>
    <p style="font-size: 12px;">8 characters long</p>
    <p style="font-size: 12px;">1 uppercase (A..Z)</p>
    <p style="font-size: 12px;">1 lowercase (a..z)</p>
    <p style="font-size: 12px;">1 number (1..9)</p>
    <p style="font-size: 12px;">1 special character (!@#$%^&*()[]{}|\;:'"<>,.?/)</p>
  </div>
</div>