<div class="container">
  <h6 style='margin-bottom: 1px'><%= page_entries_info @dinings, :model => "dinings" %></h6>
  <%= will_paginate @dinings, :param_name => 'page', :style => 'font-size: 9px; margin: 1px' %>
  <% @dinings.each do |dining| %>
    <div>
      <%= dining.name %>
      <%= link_to 'Edit', edit_dining_path(dining) %>
      <%= link_to 'Destroy', dining_path(dining), method: :delete %>
    </div>
  <% end %>
</div>
