<div class="container">
  <h6 style='margin-bottom: 1px'><%= page_entries_info @activities, :model => "activities" %></h6>
  <%= will_paginate @activities, :param_name => 'page', :style => 'font-size: 9px; margin: 1px' %>
  <% @activities.each do |activity| %>
    <div>
      <%= activity.name %>
      <%= link_to 'Edit', edit_activity_path(activity) %>
      <%= link_to 'Destroy', activity_path(activity), method: :delete %>
    </div>
  <% end %>
</div>