<% provide(:title, "Create Contact") %>
<div class="container">
  <h3>Create Contact</h3>
  <%= form_for(@contact, html: { class: "form-horizontal" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <%= f.label :contact_type, class: "col-sm-1 control-label" %>
      <div class="col-sm-2">
        <%= f.select(:contact_type, [['Resident', 'Resident'], ['Family/Advocates', 'Family'],
                                     ['Business', 'Business']], { include_blank: true }, { class: 'form-inline selectpicker' }) %>
      </div>
      <%= f.label "Est Placement", class: "col-sm-1 control-label contact_resident" %>
      <div class="col-sm-2 contact_resident">
        <%= f.text_field :placement_input, class: 'form-control', id: 'placement_input', readonly: true %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 contact_person">
        <div class="form-group row">
          <%= f.label :name, class: "col-sm-1 control-label" %>
          <div class="col-sm-1">
            <div id='salutation_male'>
              <%= f.select(:salutation_male,
                           [['Mr.', 'Mr.'],
                            ['Dr.', 'Dr.']], {}, { class: 'form-inline selectpicker' }) %>
            </div>
            <div id='salutation_female'>
              <%= f.select(:salutation_female,
                           [['Mrs.', 'Mrs.'],
                            ['Ms.', 'Ms.'], ['Miss', 'Miss'],
                            ['Dr.', 'Dr.']], {}, { class: 'form-inline selectpicker' }) %>
            </div>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :first_name, class: 'form-control', placeholder: "First Name" %>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :middle_name, class: 'form-control', placeholder: "Middle Name" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, class: "col-sm-2 control-label" %>
          <div class="col-sm-5">
            <%= f.email_field :work_email, class: 'form-control', placeholder: "Work Email" %>
          </div>
          <div class="col-sm-5">
            <%= f.email_field :email, class: 'form-control', placeholder: "Personal Email" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :address, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :address_1, class: 'form-control',
                             placeholder:       "Street Address" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.text_field :address_2, class: 'form-control',
                             placeholder:       "Apt. or P.O. Box Number" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :zip, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :zip_code, class: 'form-control',
                             placeholder:      "5-digit Zip Code", id: "zip_code" %>
            <%= f.hidden_field :zip_code_id, :id => "zip_code_id" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :phone, class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= f.telephone_field :home_phone, class: 'form-control',
                                  placeholder:        "Home" %>
          </div>
          <div class="col-sm-3">
            <%= f.telephone_field :cell_phone, class: 'form-control',
                                  placeholder:        "Cell" %>
          </div>
          <div class="col-sm-3">
            <%= f.telephone_field :work_phone, class: 'form-control',
                                  placeholder:        "Work" %>
          </div>

        </div>
        <div class="form-group row">
          <%= f.label :ssn, "SSN", class: "col-sm-2 control-label contact_resident" %>
          <div class="col-sm-4 contact_resident">
            <%= f.text_field :ssn, class: 'form-control',
                             placeholder: "XXX-XX-XXXX" %>
          </div>
          <%= f.label :gender, class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= f.select(:gender,
                         [['Male', 'Male'], ['Female', 'Female']], { include_blank: true },
                         { class: 'form-inline selectpicker' }) %>
          </div>
          <%= f.label :position, class: "col-sm-2 control-label contact_business" %>
          <div class="col-sm-3 contact_business">
            <%= f.select(:position_id,
                         options_from_collection_for_select(Position.all, :id, :title), { include_blank: true },
                         { class: 'form-inline selectpicker' }) %>
          </div>
          <%= f.label "Relation to Resident", class: "col-sm-4 control-label contact_family" %>
          <div class="col-sm-3 gender_male">
            <%= f.select :male_relationship_type, options_from_collection_for_select(
                RelationshipType.all, :id, :male_name), { include_blank: true }, { class: 'form-inline selectpicker' } %>
          </div>
          <div class="col-sm-3 gender_female">
            <%= f.select :female_relationship_type, options_from_collection_for_select(
                RelationshipType.all, :id, :female_name), { include_blank: true }, { class: 'form-inline selectpicker' } %>
          </div>
          <div class="col-sm-3 col-sm-offset-9 relation_mod">
            <%= label_tag :in_law, class: 'checkbox inline' do %>
              <%= check_box_tag :in_law %>
              <span>In-Law</span>
            <% end %>
            <%= label_tag :step, class: 'checkbox inline' do %>
              <%= check_box_tag :step %>
              <span>Step</span>
            <% end %>
            <%= label_tag :great, class: 'checkbox inline' do %>
              <%= check_box_tag :great %>
              <span>Great</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 contact_business">
        <div class="form-group row">
          <%= f.label :company, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :company, class: 'form-control',
                             placeholder:     "Company Name", id: "company" %>
            <%= f.label :copy_company, class: 'checkbox inline' do %>
              <%= check_box_tag :copy_company %>
              <span>Copy Address to Company?</span>
            <% end %>
            <%= f.hidden_field :company_id, :id => "company_id" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 contact_business">
        <div class="form-group row">
          <%= f.label :community, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :community, class: 'form-control',
                             placeholder:       "Community Name", id: "community" %>
            <%= f.label :copy_community, class: 'checkbox inline' do %>
              <%= check_box_tag :copy_community %>
              <span>Copy Address to Community?</span>
            <% end %>
            <%= f.hidden_field :community_id, :id => "community_id" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 contact_family">
        <div class="form-group row">
          <%= f.label :resident_search, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :resident_search, class: 'form-control',
                             placeholder:             "Resident Name (First and Last if new)", id: "resident_search" %>
            <%= f.hidden_field :relation_id, :id => "relation_id" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 veteran">
        <div class="panel panel-default">
          <div class="panel-heading">
            Veteran
          </div>
          <div class="panel-body">
            <div class="row">
              <%= f.label "Pay Entry Base Date", class: "col-sm-4 control-label" %>
              <div class="col-sm-3">
                <%= f.text_field :pay_entry_base_date_input, class: 'form-control', id: 'pay_entry_base_date', readonly: true %>
              </div>
            </div>
            <div class="row">
              <%= f.label "End of Active Service", class: "col-sm-4 control-label" %>
              <div class="col-sm-3">
                <%= f.text_field :end_of_active_service_input, class: 'form-control', id: 'end_of_active_service', readonly: true %>
              </div>
            </div>
            <div class="row">
              <%= f.label :va_application_submitted, class: 'col-sm-4 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :va_application_submitted_input, class: 'form-control', id: 'va_application_submitted', readonly: true %>
              </div>
            </div>
            <div class="row">
              <%= f.label "Benefit Received", class: "col-sm-4 control-label" %>
              <div class="col-sm-3">
                <%= f.text_field :benefit_received_input, class: 'form-control', id: 'benefit_received', readonly: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 medicaid">
        <div class="panel panel-default">
          <div class="panel-heading">
            Medicaid
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <%= f.label :medicaid_icp, class: 'checkbox inline' do %>
                  <%= f.check_box :medicaid_icp %>
                  <span>ICP</span>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <%= f.label :medicaid_ltmc, class: 'checkbox inline' do %>
                  <%= f.check_box :medicaid_ltmc %>
                  <span>LTMC</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row contact_resident">
          <%= f.label "Birthdate", class: "col-sm-2 control-label" %>
          <div class="col-sm-3">
            <%= f.text_field :dob_input, class: 'form-control', id: 'dob', readonly: true %>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <%= f.label :veteran, class: 'checkbox inline' do %>
              <%= f.check_box :veteran %>
              <span>Veteran</span>
            <% end %>
            <%= f.label :medicaid, class: 'checkbox inline' do %>
              <%= f.check_box :medicaid %>
              <span>Medicaid</span>
            <% end %>
          </div>

        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <%= f.submit "Create Contact", class: "btn btn-primary submit-btn contact_person" %>
    </div>
  <% end %>
</div>

<script>
 $(function () {
   var initState = $('#contact_contact_type').val();
   if (initState == "Family") {
     $(".contact_person").show();
     $(".contact_family").show();
   }
 });
 
 
  $(function () {
    var query = $('#error');
    var isVisible = query.is(':visible');
    if (isVisible === true) {
      $( "#zip_code" ).val("");
      $( "#zip_code_id" ).val("");
      $( "#community" ).val("");
      $( "#community_id" ).val("");
      $( "#company" ).val("");
      $( "#company_id" ).val("");
      $( "#resident_search" ).val("");
      $( "#relation_id" ).val("");
      $(".contact_person").show();
      var contact_type = $('#contact_contact_type').val();
      if (contact_type == "Resident") {
        $(".contact_resident").show();
        if($("#contact_veteran").is(":checked")) {
          $(".veteran").show();
        } else {
          $(".veteran").hide();
        }
        $(".contact_resident").show();
        if($("#contact_medicaid").is(":checked")) {
          $(".medicaid").show();
        } else {
          $(".medicaid").hide();
        }
      } else if (contact_type == "Business") {
        $(".contact_business").show();
      } else if (contact_type == "Family") {
        $(".contact_family").show();
      }
    }; 
    $("#zip_code").autocomplete({
      source: "/zip_codes/autocomplete",
      minLength: 3,
      select: function(event, ui) {
        event.preventDefault();
        $("#zip_code").val(ui.item.label);
        $("#zip_code_id").val(ui.item.value);
      },
      focus: function(event, ui) {
        event.preventDefault();
        $("#zip_code").val(ui.item.label);
      }
    });
    $("#company").autocomplete({
      source: "/companies/autocomplete",
      minLength: 2,
      select: function(event, ui) {
        event.preventDefault();
        $("#company").val(ui.item.label);
        $("#company_id").val(ui.item.value);
      },
      focus: function(event, ui) {
        event.preventDefault();
        $("#company").val(ui.item.label);
      }
    });
    $("#community").autocomplete({
      source: "/communities/autocomplete",
      minLength: 2,
      select: function(event, ui) {
        event.preventDefault();
        $("#community").val(ui.item.label);
        $("#community_id").val(ui.item.value);
      },
      focus: function(event, ui) {
        event.preventDefault();
        $("#community").val(ui.item.label);
      }
    });
    $("#resident_search").autocomplete({
      source: "/contacts/autocomplete_resident",
      minLength: 2,
      select: function(event, ui) {
        event.preventDefault();
        $("#resident_search").val(ui.item.label);
        $("#relation_id").val(ui.item.value);
      },
      focus: function(event, ui) {
        event.preventDefault();
        $("#community").val(ui.item.label);
      }
    });
  });
  $(function () {
     $("#contact_veteran").change(function () {
        if($(this).is(":checked")) {
          $(".veteran").show();
        } else {
          $(".veteran").hide();
        }
    });
    $("#contact_medicaid").change(function () {
        if($(this).is(":checked")) {
          $(".medicaid").show();
        } else {
          $(".medicaid").hide();
        }
    });
    $("#contact_contact_type").change(function () {
        var contact_type = $(this).val();
        var gender_type = $("#gender_type").val();
        if (contact_type != "") {
          $(".contact_person").show();
          if (gender_type == "") {
            $("#salutation_male").hide();
            $("#salutation_female").hide();
          }
        } else {
          $('#contact_veteran').prop('checked',false);
          $('#contact_medicaid').prop('checked',false);
          $(".contact_person").hide();
          $('.veteran').hide();
          $('.medicaid').hide();
        }
    });
    $("#contact_contact_type").change(function () {
        var contact_type = $(this).val();
        if (contact_type == "Resident") {
          $(".contact_resident").show();
        } else {
          $(".contact_resident").hide();
        }
    });
    $("#contact_contact_type").change(function () {
        var contact_type = $(this).val();
        if (contact_type == "Business") {
          $(".contact_business").show();
          $('#contact_veteran').prop('checked',false);
          $('#contact_medicaid').prop('checked',false);
          $(".veteran").hide();
          $(".medicaid").hide();
        } else {
          $(".contact_business").hide();
        }
    });
    $("#contact_contact_type").change(function () {
        var contact_type = $(this).val();
        if (contact_type == "Family") {
          $(".contact_family").show();
          $('#contact_veteran').prop('checked',false);
          $('#contact_medicaid').prop('checked',false);
          $(".veteran").hide();
          $(".medicaid").hide();
          var gender_type = $("#contact_gender").val();
          if (gender_type == "Male" && contact_type == "Family") {
            $(".gender_male").show();
            $(".relation_mod").show();
          } else {
            $(".gender_male").hide();
          }
          if (gender_type == "Female" && contact_type == "Family") {
            $(".gender_female").show();
            $(".relation_mod").show();
          } else {
            $(".gender_female").hide();
          }
          if (gender_type == "") {
            $(".gender_male").hide();
            $(".gender_female").hide();
            $(".relation_mod").hide();
          }
        } else {
          $(".contact_family").hide();
          $(".gender_male").hide();
          $(".gender_female").hide();
          $(".relation_mod").hide();
        }
    });
    $("#contact_gender").change(function () {
        var gender_type = $(this).val();
        var contact_type = $("#contact_contact_type").val();
        if (gender_type == "Male" && contact_type == "Family") {
          $(".gender_male").show();
          $(".relation_mod").show();
          $("#salutation_male").show();
        } else if (gender_type == "Male") {
          $("#salutation_male").show();
        } else {
          $(".gender_male").hide();
          $("#salutation_male").hide();
        }
        if (gender_type == "Female" && contact_type == "Family") {
          $(".gender_female").show();
          $(".relation_mod").show();
          $("#salutation_female").show();
        } else if (gender_type == "Female") {
          $("#salutation_female").show();
        } else {
          $(".gender_female").hide();
          $("#salutation_female").hide();
        }
        if (gender_type == "") {
          $(".gender_male").hide();
          $(".gender_female").hide();
          $(".relation_mod").hide();
          $("#salutation_male").hide();
          $("#salutation_female").hide();
        }
    });
  });
  $( function() {
    $( "#dob" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate: "-70y",
      minDate: "-110y",
      maxDate: new Date()
    });
    $( "#pay_entry_base_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate: "-50y",
      minDate: "-90y",
      maxDate: new Date()
    });
    $( "#end_of_active_service" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate: "-40y",
      minDate: "-90y",
      maxDate: new Date()
    });
    $( "#benefit_received" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
    $( "#placement_input" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate: "+90d"
    });
    $( "#va_application_submitted_input" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate: "+90d"
    });
  } );
  
</script>