<div class="card h-100">
  <h6 style='margin-bottom: 1px'><%= page_entries_info @communities, :model => "communities" %></h6>
  <%= will_paginate @communities, params: params.reject{|k,v| k == 'authenticity_token' }, param_name: 'page', :style => 'font-size: 9px; margin: 1px' %>
  <% @communities.each do |community| %>
    <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
      <%= community.name %>
      <%= link_to "#{fa_icon "plus-circle"} Interest List".html_safe, community_search_index_path(community_id: community.id),
                  {remote: true, class: "btn btn-sm btn-primary" } %>
      <span class="community-address pull-right"><%= community.address_1 %><br><%= community.zip_code.try { city.name } %>, <%= community.zip_code.try { city.state } %></span>
    </h4>


  <div class="card-body">
    <div class="row">
      <% community.photos.where(viewable: true).first(1).each do |photo| %>
        <div class="col-sm-2">
          <% disposition = "attachment; filename=#{photo.image.original_filename.inspect}" %>
          <%= image_tag(photo.image.url(response_content_disposition: disposition,
                                        virtual_host: true, host: "https://storage.sotercares.com"), class: "img-responsive") %>

          <% if community.photos.where(viewable: true).size > 1 %>
            <%= link_to "More Pictures", community_search_path(community),
                        {remote: true, data: { toggle: "modal", target: '#modal-window' },
                         class: "btn btn-default btn-xs" } %>
          <% end %>
        </div>
    <% end %>
      <div class="col-sm-10">
        <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
          <span style="font-weight: bold">Licenses:</span> <%= community.license_types.pluck(:name).join(", ") %><br>
          <span style="font-weight: bold">Languages:</span> <%= highlight(((session[:dining_tags] & community.dining_list) + (community.dining_list.first(5) - session[:dining_tags])).join(", "), session[:dining_tags]) %>
          <span style="font-weight: bold"><%= "and #{community.dining_list.size - 5 - session[:dining_tags].size} more..." if (session[:dining_tags].size + 5) < community.dining_list.size %></span><br>
          <span style="font-weight: bold">Interests and Activities:</span> <%= highlight(((session[:activity_tags] & community.activity_list) + (community.activity_list.first(10) - session[:activity_tags])).join(", "), session[:activity_tags]) %>
          <span style="font-weight: bold"><%= "and #{community.activity_list.size - 10 - session[:activity_tags].size} more..." if (session[:activity_tags].size + 10) < community.activity_list.size %></span><br>
          <% if community.private_cents > 0 %>
            <span style="font-weight: bold">Private Rate:</span><%= number_to_currency(community.private) %> <br>
          <% end %>
          <% if community.semi_private_cents > 0 %>
            <span style="font-weight: bold">Semi-Private Rate:</span><%= number_to_currency(community.semi_private) %> <br>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>