<br>
<div class="container info-box">
  <h1 style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Community Search</h1>
  <p style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
    There are a total of <strong><%= @communities.count %> communities</strong> that are potential matches.<br>
   
    <% if @lead == @prospect %>
       What is most important to you?
    <% else %>
      <% case @prospect.gender %>
      <% when "Male" %>
        <% relation =  @prospect.relationships.find_by(relation: @lead).relationship_type.male_name %>
      <% when "Female" %>
        <% relation =  @prospect.relationships.find_by(relation: @lead).relationship_type.female_name %>
      <% else %>
        <% relation = "Loved One" %>
      <% end %>
      What is most important to your <%= relation %>?
    <% end %>
  </p>
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Food", update_prospect_priorities_journies_path(prospect_id: @prospect.id, lead_id: @lead.id, priority: "Food"), method: :post %><br>
      <%= link_to "Privacy", update_prospect_priorities_journies_path(prospect_id: @prospect.id, lead_id: @lead.id, priority: "Privacy"), method: :post %><br>
      <%= link_to "Social Experiences", update_prospect_priorities_journies_path(prospect_id: @prospect.id, lead_id: @lead.id, priority: "Social Experiences"), method: :post %><br>
      <%= link_to "Care", update_prospect_priorities_journies_path(prospect_id: @prospect.id, lead_id: @lead.id, priority: "Care"), method: :post %><br>
      <%= form_tag(update_prospect_priorities_journies_path) do %>
        <%= text_field_tag :priority, nil, placeholder: 'Enter a priority not listed', class: "form-control" %>
         <%= hidden_field_tag :prospect_id, @prospect.id %>
        <%= hidden_field_tag :lead_id, @lead.id %>
        <div><%= submit_tag 'Next', class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</div>
<br>