

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
      <%= link_to image_tag('https://cdn.sotercares.com/images/soter.png', 
                            id: "logo-image"), root_path, id: "logo", class: "navbar-brand" %>
    
      <button class ="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
    </div>
    
      <div class="collapse navbar-collapse navHeaderCollapse" style="padding-left: 10px; padding-right: 10px">
      <ul class="nav navbar-nav navbar-right visible-xs">
        <% if logged_in? %>
        <li><%= link_to "Contacts", contacts_path %></li>
        <li><%= link_to "Communities", communities_path %></li>
        <li><%= link_to "Companies", companies_path %></li>
        <li><%= link_to "Pharmacies", pharmacies_path %></li>
        <li><%= link_to "Settings", settings_path %></li>
       <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
      </div>
    </nav>
  
