<!-- Sidebar Header -->
<!--suppress RubyScope -->
<div id="dismiss">
  <i class="glyphicon glyphicon-arrow-left"></i>
</div>
<div class="sidebar-header">
  <div>
    <%= image_tag 'https://cdn.sotercares.com/images/Soter-Logo.png', height: 40 %>
  </div>
  <div>
    <%= fa_icon 'user-circle-o' %> <%= current_user.name %>
    <br>
  </div>

</div>
<ul class="list-unstyled components">
  <li class="<%= cp(current_user) %> sidebar-item"><%= link_to "<span style='font-size: 16px'>#{fa_icon('dashboard')}</span> <span>Dashboard</span>".html_safe, current_user %></li>
  <% if current_user.admin? %>
    <% if cp(users_path) == 'active' || cp(companies_path) == 'active' || cp(activities_path) == 'active' || cp(features_path) == 'active' || cp(dinings_path) == 'active' %>
      <% status = 'in' %>
      <% active = 'looking' %>
    <% else %>
      <% status = '' %>
      <% active = '' %>
    <% end %>
    <li class="<%= active %>"><!-- Link with dropdown items -->
      <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false"><%= fa_icon 'lock' %> Admin</a>
      <ul class="collapse list-unstyled <%= status %>" id="adminSubmenu">
        <li class="sidebar-item <%= cp(users_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('users')}</span> <span>Users</span>".html_safe, users_path %></li>
        <li class="sidebar-item <%= cp(settings_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('gears')}</span> <span>Settings</span>".html_safe, settings_path, data: { no_turbolink: true } %></li>
        <li class="sidebar-item <%= cp(activities_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('bicycle')}</span> <span>Activities</span>".html_safe, activities_path %></li>
        <li class="sidebar-item <%= cp(dinings_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('cutlery')}</span> <span>Languages</span>".html_safe, dinings_path %></li>
        <li class="sidebar-item <%= cp(features_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('stack-overflow')}</span> <span>Features</span>".html_safe, features_path %></li>
      </ul>
    </li>
  <% end %>
  <% if cp(users_path) == 'active' || cp(companies_path) == 'active' %>
    <% status = 'in' %>
    <% active = 'looking' %>
  <% else %>
    <% status = '' %>
    <% active = '' %>
  <% end %>

  <li class="sidebar-item <%= cp(contacts_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('users')}</span> <span>Contacts</span>".html_safe, contacts_path %></li>
  <li class="sidebar-item <%= cp(communities_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('home')}</span> <span>Communities</span>".html_safe, communities_path %></li>
  <li class="sidebar-item <%= cp(pharmacies_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('prescription-bottle-alt')}</span> <span>Pharmacies</span>".html_safe, pharmacies_path %></li>
  <li class="sidebar-item <%= cp(companies_path) %>"><%= link_to "<span style='font-size: 16px'>#{fa_icon('building')}</span> <span>Companies</span>".html_safe, companies_path %></li>
  <li class="sidebar-item"><%= link_to "<span style='font-size: 16px'>#{fa_icon('sign-out')}</span> <span>Logout</span>".html_safe, logout_path, method: "delete" %></li>
</ul>
